@tailwind base;
@tailwind components;
@tailwind utilities;



/* اسکرول‌بار عمودی */
.custom-scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: #1e293b;
    border-radius: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* slate-500 */
  }
  